# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://sfo.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a02281700258ee8288b
VITE_APPWRITE_DATABASE_ID=main
VITE_APPWRITE_COLLECTION_ID=documents
VITE_APPWRITE_BUCKET_ID=qrcode_pdf_hub
